<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Contact Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">  
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon (1).ico" />
    <link rel="stylesheet" href="/css/header.css"> 
    <style>
    	body{
			background: white;
 
			font-family: 'Quicksand', sans-serif;
  			font-size: 16px;
      }
      .card-header, .card-body{
        background: white; 
      }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><img src="/images/Reclaim-the-meal-logo (1).png" alt = "logo" height="80px;"></a>
        <button class="navbar-toggler ml-auto hidden-sm-up float-xs-right" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <i class='fa fa-bars green-color'></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0"> 
            <div sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/register}"><b>Register</b></a></div>
           <div sec:authorize="isAuthenticated() and hasAuthority('ADMIN')"><a class="nav-link" th:href="@{/list_users}"><b>List Users</b></a></div>
           <div sec:authorize="isAuthenticated() and hasAuthority('USER') "> <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:if="${#authentication != null}">
      Profile
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" th:href="@{/add}">Add Posts</a>
      <a class="dropdown-item" th:href="@{/posts/user/{id}/posts(id=${id})}">View My Posts</a>
      <a class="dropdown-item" th:href="@{/users/update/{id}(id=${id})}">Update Profile</a></div>
  </li></div>
        <li class="nav-item  ml-auto hidden-sm-up float-xs-right">
            <a class="nav-link" th:href="@{/about_us}"><b>About us</b></a>
        </li>
        <li class="nav-item  ml-auto hidden-sm-up float-xs-right">
          <a class="nav-link" th:href="@{/contact_us}"><b>Contact us</b></a>
        </li>
         <li class="nav-item  ml-auto hidden-sm-up float-xs-right">
          <div sec:authorize="!isAuthenticated()">  <a class="nav-link" th:href="@{/custom_login_url}"><b>Sign In</b></a></div>
           <div sec:authorize="isAuthenticated()">  <a class="nav-link" th:href="@{/logout}"><b>Sign Out</b></a></div>
      </div>
         </li>   
      </ul>
    </div>
</nav>
	<div class="card mb-3">
	<img src="/images/bg_image-1 (1).jpg" class="card-img-top" alt="..." height="400px;">
	<center><div class="card bg-light mb-3" style="max-width: 18rem; margin-top:0px;">
  <center><div class="card-header"><i class="fa fa-user" aria-hidden="true" style="font-size:58px; color: black;"></i></div>
  <div class="card-body">
    <h5 class="card-title">For collabrating and more information contact us at:</h5>
    <p class="card-text">Nidhi Patel<br>
    (226)975-6357 | patel8p5@uwindsor.ca</p>
    <p class="card-text">Janki Purohit<br>
    (226)975-4584 | purohitj@uwindsor.ca</p>
  </div></center>
</div>
</div></center>
</body>
</html>