<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update Your Profile</title>
 <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/user-registration.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon (1).ico" />
    <link rel="stylesheet" href ="update_profile.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/user-registration.js"></script> 
 <style>
      h1{
        font-size: 24px;
        margin-left: 28px;
      }
      .btn{
        margin-left: 10px;
      }
      .dropdown-menu{
    	 background-color: #AAF683;
	}
	.container-fluid {
   	 	background:transparent;
	}
    </style>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><img src="/images/Reclaim-the-meal-logo (1).png" alt = "logo" height="80px;"></a>
        <button class="navbar-toggler ml-auto hidden-sm-up float-xs-right" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <i class='fa fa-bars green-color'></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0"> 
            <div sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/register}"><b>Register</b></a></div>
           <div sec:authorize="isAuthenticated() and hasAuthority('ADMIN')"><a class="nav-link" th:href="@{/list_users}"><b>List Users</b></a></div>
           <div sec:authorize="isAuthenticated() and hasAuthority('USER') "> <li class="nav-item dropdown">
    		<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     			 Profile
   			 </a>
   		  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      			<a class="dropdown-item" th:href="@{/add}">Add Posts</a>
      			<a class="dropdown-item" th:href="@{/posts/user/{id}/posts(id=${id})}">View My Posts</a>
      			<a class="dropdown-item" th:href="@{/users/update/{id}(id=${id})}">Update Profile</a></div>
  		</li></div>
        <li class="nav-item  ml-auto hidden-sm-up float-xs-right">
            <a class="nav-link" th:href="@{/about_us}"><b>About us</b></a>
        </li>
        <li class="nav-item  ml-auto hidden-sm-up float-xs-right">
          <a class="nav-link" th:href="@{/contact_us}"><b>Contact us</b></a>
        </li>
         <li class="nav-item  ml-auto hidden-sm-up float-xs-right">
          <div sec:authorize="!isAuthenticated()">  <a class="nav-link" th:href="@{/custom_login_url}"><b>Sign In</b></a></div>
           <div sec:authorize="isAuthenticated()">  <a class="nav-link" th:href="@{/logout}"><b>Sign Out</b></a></div>
      </div>
         </li> 
      </ul>
    </div>
</nav>
<form action="#" th:action="@{/save}" th:object="${user}"
        method="POST" onsubmit="return validate()">
    <table>
      <tr>
        <td>
          <h1>Update Profile</h1>
        </td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>
          <input type="hidden" th:field="*{id}" />
          <input type="hidden" th:field="*{email}" />
          <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1"  placeholder="First Name" th:field="*{firstName}" required>
          </div>
        </td>
      </tr>
      <tr>
         <td>
           <div class="mb-3">
             <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Last Name" th:field="*{lastName}" required>
           </div>
         </td>
      </tr>
      <tr>
        <td>
          <div class="mb-3">
            <input type="password" class="form-control" id="exampleFormControlInput3" name="password" required>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a href = "#"><input type = "submit" class = "btn" value="Update"></a>
        </td>
      </tr>
    </table>
  </form>
</body>
</html>